@import "../../global.scss";
.works::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -5;
  height: 100%;
  opacity: 0.9;
     background-image: url(https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1255&q=80
);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}


.works {
   width: 100vw;
    height: calc(100vh - 70px);
 
  display: flex;
  align-items: center;
  
  position: relative;
@include mobile{
	flex-direction: column;
}
 @include mobile{
    height: 100vh !important;
    gap: 30px;
  }


   .bottom{
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    height:20px;
    background-color: $mainColor;
  }

   .top{
    width: 100vw;
    position: absolute !important;
    top: 0;
    left: 0;
    height:20px;
    background-color: $mainColor;
  }

   .leftside{
    background-color: $mainColor;
    flex: 0.2;
    z-index: 90;
position: relative;
    height: 100%;
 @include mobile{
   width: 100%;
  height: 70%;
 }

  h1{
// display: flex;
    font-size: 3.5rem;
   position: absolute !important;
  opacity: 0.5;
   top:40%;
               font-family: "Orbitron", sans-serif;

   transform: translate(-50% , -50%);
    color: white;
   transform: rotate(-90deg);
    @include mobile{
      font-size: 30px;
      left: 50%;
      transform: rotate(0deg) translate(-50% , -50%);
    }
  }
  }

  .arrow {
    height: 80px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 400px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    flex: 0.8;
   margin-left: 300px;
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      margin: auto !important;
      left: 10%;
       transform: translate(-50% , -50%);
    }

    .container {
      width: 80vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 600px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 80%;
          height: 150px;
          margin: 15px 0;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile {
                width: 20px;
                height: 20px;
              }

              img {
                width: 25px;

                @include mobile {
                  width: 15px;
                }
              }
            }
            h2 {
              font-size: 20px;

              @include mobile{
                font-size: 13px;
              }
            }
            p {
              font-size: 13px;
              @include mobile{
                display: none;
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 400px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
